<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign Up for Activity Overlord (angular)</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name ="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

<!--
  body angular console log info
-->
  <body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
  <h1>The Sign up page Fudgio Bar!</h1>

  <!--
<script src="/js/dependencies/angular.1.4.js"></script>
-->


  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.4.js"></script>
  <script src="/js/public/signup/SignupModule.js"></script>
  <script src="/js/public/signup/SignupController.js"></script>
  <!--SCRIPTS END-->
  </body>

</html>
